{
	admin off
	auto_https off
	servers {
		trusted_proxies static {{FORTIGATE_LAN_IP}}
	}
}

:80 {
	@diary host diary.perfectday.andrewlass.com
	handle @diary {
		reverse_proxy web:3000
	}

	@api host api.diary.perfectday.andrewlass.com
	handle @api {
		reverse_proxy api:8000
	}

	handle {
		respond "Not Found" 404
	}

	log {
		output stdout
		format json
	}
}
